@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body, html {
  height: 100%;
  font-family: Lato, sans-serif;
  text-decoration: #2C362B;
  background-color: #61755F!important;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.bg-light {
    background-color: #61755F!important;
}

.navbar-light .navbar-toggler {
    background-color: #96B593;
    border-color: #2C362B;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #96B593;
    border-color: #2C362B;
}

.navbar-collapse {
    background-color: #96B593;
}

.bg-img {
    background-image: url("../images/contact-background.JPEG");
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h5 {
    font-size: 2rem;
    font-weight: lighter;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    ;
}

p {
    text-transform: uppercase;
    font-weight: 300;
}
#floating-panel {
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #96B593;
    padding: 5px;
    border: 1px solid #2C362B;
    text-align: center;
    font-family: 'Lato','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    }

.center-form {
    position: relative;
    margin: auto;
    max-width: 300px;
    padding: 16px;
    padding-top: 200px;
}

footer {
    position: relative;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 140%;
    margin: 1%;
    padding: 5%;
    color: #2C362B;
}

dl, ol, ul {
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
}

div#map {
    min-height: 360px;
}